.tituloMain0 {
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
}

.tituloMain1 {
    font-size: 30px;
    font-family: 'Slackey', cursive;
}

.tituloMain11 {
    font-size: 26px;
    font-family: 'Slackey', cursive;
}

.tituloMain2 {
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.tituloMain3 {
    font-size: 27px;
    font-family: 'Monoton', cursive;
}

.tituloMain4 {
    font-size: 35px;
    font-family: 'Indie Flower', cursive;
}

.chooseText {
    font-size: 85px;
    font-family: 'Pacifico', cursive;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.copyrText {
    font-family: 'Comfortaa', cursive;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    color: white;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.copyrText a:hover {
    text-decoration: none;
}

.imgtilde {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.9;
    pointer-events: none;
}